body {
    background-image: url("img/BG.png");
    width: 98vw;
    height: 637vw;
    background-size: cover;
}

.first-part {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    width: 56vw;
    font-size: 2.43vw;
    /* color: rgba(255, 255, 255, 0.753); */
    color: white;
    top: 90vw;
    left: 5px;
}

.first-part p {
    margin: 1vw;
}

.second-part {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.43vw;
    color: white;
    position: absolute;
    width: 57vw;
    top: 250vw;
    right: 0;
}

.second-part p {
    margin: 0.5vw;
}

.third-part {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7vw;
    color: white;
    position: absolute;
    width: 52.5vw;
    top: 400vw;
    left: 10px;
}